body {
  margin: 0;
}

#start {
  height: 100vh;
  width: 100%;
  background-color: grey;
  display: none;
}

#main {
  background-color: bisque;
  width: 100%;
  height: auto 0;
}
.grid {
  max-width: 500px;
  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin: 5px;
  /* background-color: rgb(39, 39, 209); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 150px;
  width: 150px;
}

.selected {
  border: 2px solid green;
}
