body {
  margin: 0;
  position: relative;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: -webkit-fill-available;
}

/* START SCREEN */

#startContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  background: rgb(13, 189, 131);
  background: linear-gradient(
    0deg,
    rgba(13, 189, 131, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

#start {
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 10px 10px 0px 3px black;
  text-align: center;
  height: 250px;
  width: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 20px 5px;
  font-family: "Zen Tokyo Zoo", cursive;
  font-size: 3rem;
}

#startBtn {
  background-color: rgba(253, 187, 45, 1);
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: bold;
  width: 50%;
  padding: 15px 10px;
  transition: all 0.35s;
  position: relative;
}

.start {
  position: relative;
  z-index: 2;
}

#startBtn:after {
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(13, 189, 131, 1);
  transition: all 0.35s;
}

#startBtn:hover {
  color: #fff;
  box-shadow: 3px 3px 0px 1px black;
  cursor: pointer;
}

#startBtn:hover:after {
  width: 100%;
  cursor: pointer;
}

/* GAME BOARD */

#header {
  text-align: center;
  /* height: 200px; */
  display: none;
  justify-content: center;
  background: rgb(13, 189, 131);
  /* background: linear-gradient(
    90deg,
    rgba(253, 187, 45, 1) 0%,
    rgba(13, 189, 131, 1) 50%,
    rgba(253, 187, 45, 1) 100%
  ); */
  border-bottom: 4px solid black;
}

h2 {
  font-family: "Zen Tokyo Zoo", cursive;
  font-size: 3rem;
  margin: 10px;
}

#main {
  /* background: rgb(236, 187, 51);
  background: linear-gradient(
    90deg,
    rgba(236, 187, 51, 1) 0%,
    white 50%,
    rgba(253, 187, 45, 1) 100%
  ); */
  background-image: url("assets/sand-bg.png");
  background-repeat: repeat;
  background-size: 400px;
  background-position: center;
  width: 100%;
  /* height: auto 0; */
  display: flex;
  justify-content: center;
  padding: 25px 0px;
}

.grid {
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  transition: all 0.4s linear;
  transform-style: preserve-3d;
  margin: 7px;
}

.card,
.cardFront,
.cardBack {
  height: 160px;
  width: 125px;
}

.cardFront,
.cardBack {
  position: absolute;
  backface-visibility: hidden;
}

.cardBack {
  background: white url("assets/leaf-bg02.png") no-repeat center center /
    contain;
  background-size: cover;
  border-radius: 10px;
  border: 3px solid white;
  transition: 0.1s;
}

.cardBack:hover {
  box-shadow: 5px 5px 0px 1px black;
  transform: scale(1.03);
  transform-origin: bottom;
  cursor: pointer;
}

.cardFront {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.match {
  /* transform: scale(1.03); */
  visibility: hidden;
  /* opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear; */
}

/* .noMatch {
  animation: shake 0.2s 1;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-4px);
  }
  40% {
    transform: translateX(-2px);
  }
  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0px);
  }
} */

/* .match .back {
  background: white;
} */

.matchHide {
  /* transform: scale(1.03); */
  /* transform: rotateY(180deg); */
}

.lock {
  pointer-events: none;
}

#bottomContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(13, 189, 131);
  border-top: 4px solid black;
  /* background-image: url("assets/sand-bg.png");
  background-repeat: repeat;
  background-size: 400px;
  background-position: center; */
}

.tm-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#timer {
  border: 1.5px solid black;
  box-shadow: 3px 3px 0px 1px black;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  margin-bottom: 10px;
  background-color: white;
}

#moves {
  border: 1.5px solid black;
  box-shadow: 3px 3px 0px 1px black;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  margin-bottom: 10px;
  background-color: white;
}

#reset {
  border-radius: 5px;
  border: 1px solid black;
  background-color: lightgrey;
  height: 35px;
  width: 150px;
  font-weight: bold;
  cursor: pointer;
  /* margin-top: 10px; */
}

#reset:hover {
  background-color: rgba(253, 187, 45, 1);
  box-shadow: 3px 3px 0px 1px black;
  color: black;
}

.winWindow {
  background-color: white;
  border: 1.5px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 0px 1px black;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  height: 500px;
  width: 400px;
  margin: 0 auto;
}

#playAgain {
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgba(13, 189, 131, 1);
  padding: 10px;
  width: 150px;
  font-weight: bold;
  cursor: pointer;
}

#playAgain:hover {
  background-color: rgba(253, 187, 45, 1);
  box-shadow: 3px 3px 0px 1px black;
  color: black;
}
