body {
  margin: 0;
}

#start {
  height: 100vh;
  width: 100%;
  background-color: grey;
  display: none;
}

#main {
  background-color: bisque;
  width: 100%;
  height: auto 0;
}
.grid {
  max-width: 500px;
  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.scene {
  height: 150 px;
  width: 150 px;
}

.card {
  position: relative;
  transition: all 0.4s linear;
  transform-style: preserve-3d;
  margin: 5px;
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; */
}

.card,
.cardFront,
.cardBack {
  height: 150px;
  width: 150px;
}

.cardFront,
.cardBack {
  position: absolute;
  backface-visibility: hidden;
}

.cardBack {
  background-color: red;
}

.cardFront {
  transform: rotateY(180deg);
  /* background-color: white; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background: contain;
}

.selected {
  /* border: 2px solid blue; */
  transform: rotateY(180deg);
  background-color: white;
}

.match .cardBack {
  /* background-color: white; */
  /* opacity: 0; */
}

.match {
  /* background-image: none; */
}
